<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Posts</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Body</th>-->
<!--      <th>Published</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @posts.each do |post| %>
<!--      <tr>-->
<!--        <td><%#= post.title %></td>-->
<!--        <td><%#= post.body %></td>-->
<!--        <td><%#= post.published %></td>-->
<!--        <td><%#= link_to 'Show', post %></td>-->
<!--        <td><%#= link_to 'Edit', edit_post_path(post) %></td>-->
<!--        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->



<style>
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .new_post:link, .new_post:visited {
    background-color: #f44336;
    color: white;
    /*padding: 14px 25px;*/
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
  }


  .new_post:hover, .new_post:active {
    background-color: red;
  }
</style>
<!--<body class="w3-light-grey">-->

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32">
<!--    <h1><b>MY POST</b></h1>-->
    <%#= form_tag posts_path, :method => :get do %>
<!--      <p>-->
        <%#= text_field_tag :search, params[:search] %>
        <%#= submit_tag "Search", :name => nil %>
<!--      </p>-->
    <%# end %>
<!--    <p>Welcome to the post of <span class="w3-tag">Ankur</span></p>-->
    <b><%= link_to 'New Post', new_post_path, class: "new_post" %></b>
  </header>

  <!-- Grid -->
  <div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <% @posts.each do |post| %>
      <div class="w3-card-4 w3-margin w3-white">
        <%= image_tag post.image.url,alt: "Nature",size: "811x255" %>
<!--        <img src="https://www.w3schools.com/w3images/woods.jpg" alt="Nature" style="width:100%">-->
        <div class="w3-container">
          <h3><b>TITLE HEADING</b></h3>
          <h5><%=post.title %>, <span class="w3-opacity">(<%= post.created_at.strftime("%B %d, %Y") %>)</span></h5>
        </div>

        <div class="w3-container">
          <p><%=post.body %></p>
          <div class="w3-row">
<!--            <div class="w3-col m8 s12">-->
<!--              <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>-->
<!--            </div>-->
<!--            <div class="w3-col m4 w3-hide-small">-->
<!--              <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>-->
<!--            </div>-->
          </div>
        </div>
      </div>
        <%end %>
      <hr>
      <!-- END BLOG ENTRIES -->
    </div>

    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
<!--        <img src="https://www.w3schools.com/w3images/avatar_g.jpg" style="width:100%">-->
        <div class="w3-container w3-white">
          <h4><b>Published</b></h4>
        </div>

          <ul>
            <% for row in @search.facet(:publish_month).rows %>
              <li>
                <% if params[:month].blank? %>
                  <%= link_to row.value, :month => row.value %> (<%= row.count %>)
                <% else %>
                  <strong><%= row.value %></strong> (<%= link_to "remove", :month => nil %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        <br/>
      </div><hr>

      <!-- Posts -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <% @impressions.each do |post| %>
          <li class="w3-padding-16">
            <%= image_tag post.image.url(:thumb), alt: "Image", class: "w3-left w3-margin-right", style: "width:50px" %>
<!--            <img src="https://www.w3schools.com/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">-->
            <span class="w3-large"><%= post.title %></span><br>
            <span><%= post.body.split[0..3].join(' ')%></span>
          </li>

            <%end %>
        </ul>
      </div>
      <hr>

      <!-- Labels / tags -->
<!--      <div class="w3-card w3-margin">-->
<!--        <div class="w3-container w3-padding">-->
<!--          <h4>Tags</h4>-->
<!--        </div>-->
<!--        <div class="w3-container w3-white">-->
<!--          <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>-->
<!--            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>-->
<!--            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>-->
<!--            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>-->
<!--            <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

      <!-- END Introduction Menu -->
    </div>

    <!-- END GRID -->
  </div><br>

  <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <span class="w3-button w3-black w3-padding-large w3-margin-bottom"><%= will_paginate @posts %></span>
<!--  <button class="w3-button w3-black w3-disabled w3-padding-large w3-margin-bottom">Previous</button>-->
<!--  <button class="w3-button w3-black w3-padding-large w3-margin-bottom">Next »</button>-->
  <p>Powered by <a href="https://poplify.com" target="_blank">Poplify</a></p>
</footer>
